<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('./../partials/head') %>
</head>

<body>
  <form class="username" id="usernameForm" action="">
    <label>
      <input id="username" autocomplete="off" placeholder="Username" /><button class="formButton">
        Send
      </button>
    </label>
  </form>

  <div class="playgame">
    <p><%- tracksData.items[9].track.name %></p>
    <button data-id="<%- tracksData.items[9].track.id %>" id="StartGame" class="button">
      Start Game!
    </button>
  </div>

  <!-- <section id="roundEnd">
    <article id="informationTextAboutRound">
    </article>
  </section>

  <main id="game" class="locked">
    <section id="trackList">

    </section> -->

  <ul id="messages"></ul>
  <form class="message" id="messageForm" action="">
    <input type="hidden" id="currentSong" value="<%- tracksData.items[9].track.name %>">
    <input id="message" autocomplete="off" placeholder="Message" type="text" />
    <button class="formButton">
      Send
    </button>
  </form>

  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="/index.js"></script>
</body>

</html>